<ng-container *ngIf="color1; then double_color else single_color "></ng-container>

<ng-template #double_color>
    <div class="color-block-flex">
        <div class="half-color-block" [ngStyle]="{'background-color':color}"></div>
        <div class="half-color-block" [ngStyle]="{'background-color':color1}"></div>
    </div>
</ng-template>

<ng-template #single_color>
    <div class="color-block-flex">
        <div class="color-block" [ngStyle]="{'background-color':color}"></div>
    </div>
</ng-template>

