<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>找口红</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form>
        <ion-list>
            <ion-item>
                <ion-label>品牌</ion-label>
                <ion-select required #select_brands multiple="true" ok-text="确认" cancel-text="取消"
                            (ionChange)="loadCategories(select_brands.value)"
                >
                    <ion-select-option *ngFor="let brand of brands;let i=index;"
                                       [value]='brand.code'
                                       [selected]="i===0"
                    >
                        {{brand.name}}/{{brand.code}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>类别</ion-label>
                <ion-select required #select_categories multiple="true" ok-text="确认" cancel-text="取消">
                    <ion-select-option *ngFor="let category of categories;first as isFirst"
                                       [value]='category.code'
                                       [selected]="isFirst"
                    >
                        {{category.name}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>色号</ion-label>
                <ion-item>
                    <ion-input #color_no type="text" placeholder="47/星星色"></ion-input>
                </ion-item>
            </ion-item>
        </ion-list>

        <div class="content-center">
            <ion-button shape="round" expand="block" color="danger" fill="outline"
                        (click)="search({
                            brand:select_brands.value,
                            category:select_categories.value,
                            color:color_no.value
                        })"
            >
                查找
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </div>
    </form>


</ion-content>
