<div *ngIf="sku; then result else empty"></div>

<ng-template #empty let-sku>没有找到对应的口红</ng-template>

<ng-template #result let-sku>
    <ion-slides class="slide-height" pager="true" [options]="{effect: 'flip'}">
        <ion-slide *ngFor="let image of sku.images">
            <ion-img [src]="'/image/'+image"></ion-img>
        </ion-slide>
    </ion-slides>
    <ion-grid>
        <ion-list>
            <ion-item>
                <ion-row class="full-width">
                    <ion-col class="ion-text-center">
                        {{sku.goodsName}}
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item>
                <ion-row class="full-width">
                    <ion-col class="ion-text-center">
                        {{sku.skuName}} {{sku.colorNo}}
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item>
                <ion-row class="full-width">
                    <ion-col class="ion-text-center">
                        <color-card class="color-card " [color]="sku.color" [color1]="sku.color1"></color-card>
                        &nbsp;&nbsp;
                        <span>{{sku.color.replace("#", "")|uppercase}}</span>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </ion-grid>

</ng-template>
