<ion-header>
    <ion-toolbar>
        <ion-title>
            我的
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col size="3">
                <ion-avatar>
                    <img [src]="user.avatar">
                </ion-avatar>
            </ion-col>
            <ion-col class="content-center">
                <ion-text>{{user.name}}</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="favorites$|async as favorites; then favorites else empty"></div>

    <ng-template #empty let-favorites>没有收藏</ng-template>

    <ng-template #favorites let-favorites>
        <ion-list>
            <a *ngFor="let favorite of favorites" style="text-decoration:none"
               [routerLink]="['/tabs/my/detail',favorite.brandCode,favorite.skuCode]">
                <ion-item>
                    <ion-row class="full-width">
                        <ion-col size="1">
                            <div class="content-center color-block"
                                 [ngStyle]="{'background-color':favorite.color}">
                            </div>
                        </ion-col>
                        <ion-col size="10">
                            {{favorite.goodsName}} {{favorite.skuName}} {{favorite.colorNo}}
                        </ion-col>
                        <ion-col (click)="remove(favorite.id)">
                            <ion-icon name="close" class="content-center"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </a>
        </ion-list>
    </ng-template>
</ion-content>
