<ion-header>
    <ion-toolbar>
        <ion-title>
            我的
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col size="3">
                <ion-avatar>
                    <img [src]="user.avatar">
                </ion-avatar>
            </ion-col>
            <ion-col class="content-center">
                <ion-text>{{user.name}}</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="favorites$|async as favorites; then favorites else empty"></div>

    <ng-template #empty let-favorites>没有收藏</ng-template>

    <ng-template #favorites let-favorites>
        <ion-list>

            <ion-item *ngFor="let favorite of favorites">
                <ion-row class="full-width">
                    <ion-col size="1">
                        <div class="content-center color-block"
                             [ngStyle]="{'background-color':favorite.color}">
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <a [routerLink]="['/tabs/my/detail',favorite.brandCode,favorite.skuCode]">
                            {{favorite.goodsName}} {{favorite.skuName}} {{favorite.colorNo}}
                        </a>
                    </ion-col>
                    <div class="content-center" (click)="remove(favorite.skuName,favorite.id)">
                        <ion-icon name="close"></ion-icon>
                    </div>
                </ion-row>
            </ion-item>
        </ion-list>
    </ng-template>
</ion-content>
