<ion-header>
    <ion-toolbar>
        <ion-title>
            找口红
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="margin: 0 1rem 1rem 0">
    <ion-item class="spacing">
        <ion-label>品牌</ion-label>
        <ion-select multiple="true" ok-text="确认" cancel-text="取消">
            <ion-select-option value="all" selected>全部</ion-select-option>
            <ion-select-option *ngFor="let brand of brands" [value]='brand.code'>{{brand.name}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item class="spacing">
        <ion-label>类别</ion-label>
        <ion-select multiple="true" ok-text="确认" cancel-text="取消">
            <ion-select-option value="all" selected>全部</ion-select-option>
            <ion-select-option *ngFor="let brand of brands" [value]='brand.id'>{{brand.name}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item class="spacing">
        <ion-label>色号</ion-label>
        <ion-item>
            <ion-input required type="text" placeholder="#47|星星色"></ion-input>
        </ion-item>
    </ion-item>

    <div class="content-center" style="width:90%;margin-top: 10rem">
        <ion-button shape="round" expand="block" color="danger" fill="outline">
            查找
            <ion-icon name="search"></ion-icon>
        </ion-button>
    </div>
</ion-content>
